 <%= link_to "商品一覧" ,admin_items_path %>
   <%= form_with model: @item, url:  admin_item_path do |f| %>
  <form>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">商品画像</label>
    <div class="col-sm-10">
      <%= f.file_field :image, accept: "image/" %>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">商品名</label>
    <div class="col-sm-10">
     <%= f.text_field :name, autofocus: true, class:"form-control",  id:"inputName", placeholder:"商品名"%>
    </div>
  </div>
   <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">商品説明</label>
    <div class="col-sm-10">
     <%= f.text_area :explanation, autofocus: true, class:"form-control", rows: 5, id:"inputName", placeholder:"ここに説明文を記述します"%>
    </div>
  </div>

   <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">ジャンル</label>
    <div class="col-sm-10">
 <%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: "-- 選択してください --", class: 'form-control'%>
</div>
  </div>
   <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">税抜価格</label>
    <div class="col-sm-10">
     <%= f.text_field :price, autofocus: true, class:"form-control", id:"inputName", placeholder:"1000"%>円
    </div>
  </div>
   <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">販売ステータス</label>
    <div class="col-sm-10">
   <div class="form-check form-check-inline">
  <%= f.radio_button :is_ordered, true, checked: true %>販売中
</div>
<div class="form-check form-check-inline">
  <%= f.radio_button :is_ordered, false %>販売停止中
</div>
    </div>
  </div>


      <%= f.submit " 変更を保存 " ,class: "btn btn-success" %>
    </div>
  </div>
</form>



 <% end %>
