<div class="container  pt-3">
  <div class="row">
    <div class="col-12">
      <img src="assets/top.jpg", style="width: 100%; height: 500px;">
    </div>
  </div>
</div>
<div class="container mb-3 ">
  <div class="row">
    <div class="col-12">
      <img src="assets/top2.jpg", style="width: 100%; height: 200px;">
      <div class="d-flex justify-content-center align-items-center card-img-overlay">
        <div class="col">
          <h4 class="text-center">「まだ美味しく食べられる食品を繋ぐ」</h4>
            <p class="text-center">
              <strong>
                食べトク は売り手と買い手を繋ぐ食品ロス レスキューサイトです
              </strong><br>
                販売期限が近い商品をお得な値段でご予約いただけます<br>
                早速 会員登録して食品をレスキューしてみましょう
            </p>
            <div class="text-center">
            <%= link_to "無料会員登録", new_customer_registration_path ,class: "btn btn-secondary btn-lg "%><br>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to "about" , public_homes_about_path %><br>
<%= link_to "会員マイページ" , public_show_path %><br>




<%= link_to "会員ログイン" ,  new_customer_session_path %><br>

<%= link_to "ログアウト" ,  destroy_customer_session_path , method: :delete%><br>
<%= link_to "商品一覧",   public_items_path %><br>
<%= link_to "配送先一覧",  public_addresses_path %><br>
<%= link_to "注文一覧", public_orders_path %><br>
<%= link_to "アドミン注文一覧",   admin_orders_path %><br>